* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  :root {
    --color-verde: rgb(0, 187, 0);
    --color-verdeOscuro: rgb(3, 167, 3);
    --family-deca: "Lexend Deca", sans-serif;
    --family-neve: "Bebas Neue", cursive;
    --color-rojo: rgb(255, 0, 0);
  }
  html {
    font-size: 62.5%;
    font-family: 'Lexend Deca', sans-serif;
  }
  /* font-family: 'Bebas Neue', cursive;
  font-family: 'Lexend Deca', sans-serif; */
  #inactive {
    display: none;
  }
  /* HEADER ------------------------------------------------*/
  body {
    width: 100vw;
    height: 100vh;
    background-color: black;
  }
  .header {
    width: 100%;
    background-image: linear-gradient(180deg, black, rgba(255, 0, 0, 0.671));
    padding: 10px;
    color: white;
    font-family: 'Bebas Neue', cursive;
  }
  .container-title {
    width: 100%;
    /* background-color: blue; */
    font-size: 3.5rem;
    font-family: var(--family-deca);
  }
  /* img-header -----------------------*/
  .container-imagen {
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
  }
  .img1 {
    width: 50%;
    height: 350px;
    background-image: url('./yo5.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container-imagen2{
    width: 50%;
    height: 350px;
    /* background-color: darkcyan; */
    padding-left: 10px;
  }
  .container-name {
    width: 100%;
    height: 70%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .container-name .name {
    max-width: 30%;
    min-width: 15%;
    height: 100%;
    font-weight: bold;
    writing-mode: vertical-lr;
    font-size: 3.6rem;
    letter-spacing: 1.2rem;
    margin: auto;
    font-family: var(--family-deca);
  }
  .container-name .img2 {
    width: 70%;
    height: 100%;
    background-image: url('./yo3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .container-img3 {
    width: 100%;
    height: 30%;
    padding-top: 10px;
    /* background-color: green; */
  }
  .container-img3 .img3 {
    width: 100%;
    height: 100%;
    background-image: url('./yo6.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  /* nav-header------------------- */

  nav {
    width: 100%;
    display: flex;
    margin-top: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: var(--family-deca);
  }
  nav h2 {
    border-left: 2px solid white;
    padding-left: 10px;
  }
  nav a {
    color: white;
    font-size: 1.4rem;
    border-left: 2px solid white;
    padding: 0 10px;
    cursor: pointer;
  }
  /* MAIN--------------------------------------------- */
  main {
    width: 100%;
    /* background-color: blue; */
    height: auto;
    /* padding: 10px; */
    font-family: var(--family-neve);
    border-top: 10px solid black;
  }
  /* container-main-top */
  .container-perfil--text{
    width: 100%;
    height: auto;
    padding: 20px;
    background: linear-gradient( to right, black 0%, black 50%, rgba(255, 0, 0, 0.6)
     50%, rgba(255, 0, 0, 0.6) 100%);
     display: flex;
     justify-content: center;
     align-items: center;
  }
   .container-perfil--text .di1 {
    width: 60%;
    height: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
   }
   .container-perfil--text .di1 h2{
    padding-bottom: 10px;
    padding-top: 10px;
   }
/* MAIN-CENTER-------------------------------- */
.container-main--center {
  background-color: rgb(205, 50, 205);
  width: 100vw;
  height: auto;
  display: flex;
  border-top: 10px solid black;
 }
/* .continer-main--center, .main-left {
  width: 25vw;
  background-color: cadetblue;
} */
/* .continer-main--center, .main-left h3 {
  font-family: var(--family-deca); */
  /* padding: 2px;
  font-weight: bold;
  writing-mode: vertical-lr;
  font-size: 2rem; */
  /* letter-spacing: 1.2rem;
  margin: auto; */
/* } */
/* .continer-main--center, .main-right {
  width: 85%;
  background-color: salmon;
  border-left: 10px solid black;
}
 */








   /*  */
  

 /* formulario */
   /* .container-main--bottom {
    background-color: blueviolet;
    width: 100%;
   } */
   /* .container-main--bottom .container-form {
    width: 100%;
    height: auto;
    background-color: wheat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   } */
  /*  .container-main--bottom .container-form input {
    width: 280px;
   } */

  /* .container-main--bottom .container-form .form {
    width: 320px;
    height: auto;
    background-color: darkblue;
    
   } */
  /*  .container-main--bottom .container-form .form  input {
    width: 280px;
    padding: 8px;
    margin: auto;
    background-color: red;
   } */


   /* HEADER------------------------------------------------- */
   footer {
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 7px;
    background-color: rgb(80, 80, 80);
    color: white;
   }
   footer a{
    text-decoration: none;
    color: white;
   }